// Fonts
@import url('https://fonts.bunny.net/css?family=Poppins');

// Variables
@import 'variables';
$primary: #5115B1;
$secondary: #E71C36;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.module {
  
  margin: 0 0 1em 0;
  overflow: hidden;
}
.module p {
  margin: 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}